In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.float_format', lambda x: '%.2f' % x)

mlcd = pd.read_csv('FineTuneCarData.csv')

In [2]:
mlcd.head()

,Unnamed: 0,name,brand,model,year,age,km_driven,torque_Nm,max_power_bhp,mileage_kmpl,selling_price,seller_type,owner,seats,engine,transmission,fuel,mileage,torque,dumpName
0,0,Audi A3 35 TDI Premium Plus,Audi,A3,2017,4,70000,320.00,143.00,20.38,2600000,Individual,First,5,1968 CC,Automatic,Diesel,20.38 kmpl,320Nm@ 1750-3000rpm,35 TDI Premium Plus
1,1,Audi A3 40 TFSI Premium,Audi,A3,2017,4,8000,250.00,177.50,16.60,1689999,Dealer,First,5,1798 CC,Automatic,Petrol,16.6 kmpl,250Nm@ 1250-5000rpm,40 TFSI Premium
2,2,Audi A3 35 TDI Premium Plus,Audi,A3,2018,3,20000,320.00,143.00,20.38,3000000,Individual,First,5,1968 CC,Automatic,Diesel,20.38 kmpl,320Nm@ 1750-3000rpm,35 TDI Premium Plus
3,3,Audi A4 1.8 TFSI,Audi,A4,2010,11,55000,215.75,163.20,12.30,730000,Individual,Second,5,1781 CC,Automatic,Petrol,12.3 kmpl,"22.9@ 1,950-4,700(kgm@ rpm)",1.8 TFSI
4,4,Audi A4 2.0 TDI 177 Bhp Premium Plus,Audi,A4,2013,8,110000,380.00,174.33,17.11,1200000,Individual,First,5,1968 CC,Automatic,Diesel,17.11 kmpl,380Nm@ 1750-2500rpm,2.0 TDI 177 Bhp Premium Plus

In [3]:
mlcd.drop('Unnamed: 0',axis=1, inplace=True)
mlcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7617 entries, 0 to 7616
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7617 non-null   object
 1   brand          7617 non-null   object
 2   model          7617 non-null   object
 3   year           7617 non-null   int64
 4   age            7617 non-null   int64
 5   km_driven      7617 non-null   int64
 6   torque_Nm      7617 non-null   float64
 7   max_power_bhp  7617 non-null   float64
 8   mileage_kmpl   7617 non-null   float64
 9   selling_price  7617 non-null   int64
 10  seller_type    7617 non-null   object
 11  owner          7617 non-null   object
 12  seats          7617 non-null   int64
 13  engine         7617 non-null   object
 14  transmission   7617 non-null   object
 15  fuel           7617 non-null   object
 16  mileage        7617 non-null   object
 17  torque         7617 non-null   object
 18  dumpName       7614 non-null   object
dtypes: float64(3), int64(5), object(11)
memory usage: 1.1+ MB

In [4]:
print(mlcd['brand'].unique())

['Audi' 'BMW' 'Chevrolet' 'Datsun' 'Fiat' 'Ford' 'Honda' 'Hyundai' 'Jeep'
 'Mahindra' 'Maruti' 'Mercedes-Benz' 'Nissan' 'Renault' 'Skoda' 'Tata'
 'Toyota' 'Volkswagen']

In [5]:
mlcd["brand_type"] = np.where(mlcd["brand"].str.contains('BMW|Audi|Jeep|Mercedes-Benz'), 2, 1)

In [6]:
mlcd.drop(['name','brand','model','dumpName','year','seats','engine','mileage','torque'], axis=1, inplace=True)

In [7]:
mlcd.columns

Index(['age', 'km_driven', 'torque_Nm', 'max_power_bhp', 'mileage_kmpl',
       'selling_price', 'seller_type', 'owner', 'transmission', 'fuel',
       'brand_type'],
      dtype='object')

In [8]:
mlcd= mlcd[['selling_price','age','km_driven','torque_Nm','max_power_bhp','mileage_kmpl',
            'brand_type','seller_type','owner','transmission','fuel']]

In [9]:
toCategory = ['brand_type']
mlcd[toCategory] = mlcd[toCategory].astype('category')

### here im getting dummies of column  #getting dummies is aplhabetical
#### brand_type had values (1=GenralCars, 2=HighendCars) -> drop_first=True will set dummy variable only for brand_type_2 to avoid dummy variable trap. for brand_type_1 the value will be automatically 0 to avoid dummy trap
#### seller_type had values (Dealer,Individual)
#### owner had values (First,Second,Third_or_Above)
#### transmission had values (Automatic,Manual)
#### fuel had values (Diesel,Gas,Petrol)

In [10]:
mlcd = pd.get_dummies(mlcd,columns=['brand_type','seller_type','owner','transmission','fuel'],prefix=['brand_type','seller','owner','transmission','fuel'],drop_first=True)

In [11]:
mlcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7617 entries, 0 to 7616
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   selling_price         7617 non-null   int64
 1   age                   7617 non-null   int64
 2   km_driven             7617 non-null   int64
 3   torque_Nm             7617 non-null   float64
 4   max_power_bhp         7617 non-null   float64
 5   mileage_kmpl          7617 non-null   float64
 6   brand_type_2          7617 non-null   uint8
 7   seller_Individual     7617 non-null   uint8
 8   owner_Second          7617 non-null   uint8
 9   owner_Third_or_Above  7617 non-null   uint8
 10  transmission_Manual   7617 non-null   uint8
 11  fuel_Gas              7617 non-null   uint8
 12  fuel_Petrol           7617 non-null   uint8
dtypes: float64(3), int64(3), uint8(7)
memory usage: 409.2 KB

In [12]:
mlcd.head()

,selling_price,age,km_driven,torque_Nm,max_power_bhp,mileage_kmpl,brand_type_2,seller_Individual,owner_Second,owner_Third_or_Above,transmission_Manual,fuel_Gas,fuel_Petrol
0,2600000,4,70000,320.00,143.00,20.38,1,1,0,0,0,0,0
1,1689999,4,8000,250.00,177.50,16.60,1,0,0,0,0,0,1
2,3000000,3,20000,320.00,143.00,20.38,1,1,0,0,0,0,0
3,730000,11,55000,215.75,163.20,12.30,1,1,1,0,0,0,1
4,1200000,8,110000,380.00,174.33,17.11,1,1,0,0,0,0,0

In [13]:
mlcd.columns

Index(['selling_price', 'age', 'km_driven', 'torque_Nm', 'max_power_bhp',
       'mileage_kmpl', 'brand_type_2', 'seller_Individual', 'owner_Second',
       'owner_Third_or_Above', 'transmission_Manual', 'fuel_Gas',
       'fuel_Petrol'],
      dtype='object')

### Commenting out whole view of dataframe

In [14]:
# pd.set_option("display.max_rows", None, "display.max_columns", None)
# mlcd

In [15]:
mlcd.head()

,selling_price,age,km_driven,torque_Nm,max_power_bhp,mileage_kmpl,brand_type_2,seller_Individual,owner_Second,owner_Third_or_Above,transmission_Manual,fuel_Gas,fuel_Petrol
0,2600000,4,70000,320.00,143.00,20.38,1,1,0,0,0,0,0
1,1689999,4,8000,250.00,177.50,16.60,1,0,0,0,0,0,1
2,3000000,3,20000,320.00,143.00,20.38,1,1,0,0,0,0,0
3,730000,11,55000,215.75,163.20,12.30,1,1,1,0,0,0,1
4,1200000,8,110000,380.00,174.33,17.11,1,1,0,0,0,0,0

In [16]:
mlcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7617 entries, 0 to 7616
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   selling_price         7617 non-null   int64
 1   age                   7617 non-null   int64
 2   km_driven             7617 non-null   int64
 3   torque_Nm             7617 non-null   float64
 4   max_power_bhp         7617 non-null   float64
 5   mileage_kmpl          7617 non-null   float64
 6   brand_type_2          7617 non-null   uint8
 7   seller_Individual     7617 non-null   uint8
 8   owner_Second          7617 non-null   uint8
 9   owner_Third_or_Above  7617 non-null   uint8
 10  transmission_Manual   7617 non-null   uint8
 11  fuel_Gas              7617 non-null   uint8
 12  fuel_Petrol           7617 non-null   uint8
dtypes: float64(3), int64(3), uint8(7)
memory usage: 409.2 KB

In [17]:
mlcd.to_csv('MachineLearningCarData.csv')

In [18]:
mlcd.corr()

,selling_price,age,km_driven,torque_Nm,max_power_bhp,mileage_kmpl,brand_type_2,seller_Individual,owner_Second,owner_Third_or_Above,transmission_Manual,fuel_Gas,fuel_Petrol
selling_price,1.00,-0.41,-0.19,0.43,0.69,-0.12,0.72,-0.33,-0.16,-0.14,-0.49,-0.05,-0.22
age,-0.41,1.00,0.41,-0.06,-0.19,-0.35,-0.11,0.22,0.31,0.34,0.21,0.01,0.03
km_driven,-0.19,0.41,1.00,0.12,0.02,-0.19,-0.10,0.18,0.20,0.17,0.16,0.01,-0.29
torque_Nm,0.43,-0.06,0.12,1.00,0.62,-0.22,0.33,-0.08,-0.02,0.01,-0.20,-0.09,-0.50
max_power_bhp,0.69,-0.19,0.02,0.62,1.00,-0.39,0.54,-0.22,-0.06,-0.05,-0.43,-0.10,-0.30
mileage_kmpl,-0.12,-0.35,-0.19,-0.22,-0.39,1.00,-0.13,-0.01,-0.11,-0.13,0.15,0.07,-0.10
brand_type_2,0.72,-0.11,-0.10,0.33,0.54,-0.13,1.00,-0.22,-0.05,-0.04,-0.43,-0.02,-0.12
seller_Individual,-0.33,0.22,0.18,-0.08,-0.22,-0.01,-0.22,1.00,0.15,0.13,0.32,0.04,-0.03
owner_Second,-0.16,0.31,0.20,-0.02,-0.06,-0.11,-0.05,0.15,1.00,-0.18,0.10,0.02,-0.06
owner_Third_or_Above,-0.14,0.34,0.17,0.01,-0.05,-0.13,-0.04,0.13,-0.18,1.00,0.07,0.01,0.01
transmission_Manual,-0.49,0.21,0.16,-0.20,-0.43,0.15,-0.43,0.32,0.10,0.07,1.00,0.04,-0.08
fuel_Gas,-0.05,0.01,0.01,-0.09,-0.10,0.07,-0.02,0.04,0.02,0.01,0.04,1.00,-0.10
fuel_Petrol,-0.22,0.03,-0.29,-0.50,-0.30,-0.10,-0.12,-0.03,-0.06,0.01,-0.08,-0.10,1.00

## all below code is copied, diy tmw

In [19]:
# import seaborn as sns
# sns.pairplot(mlcd)

In [20]:
# import matplotlib.pyplot as plt
# corrmat = mlcd.corr()
# top_corr_features = corrmat.index
# plt.figure(figsize=(30,30))
# #plot heat map
# g=sns.heatmap(mlcd[top_corr_features].corr(),annot=True,cmap="RdYlGn")

In [21]:
X=mlcd.iloc[:,1:]
y=mlcd.iloc[:,0]

In [22]:
X.head()

,age,km_driven,torque_Nm,max_power_bhp,mileage_kmpl,brand_type_2,seller_Individual,owner_Second,owner_Third_or_Above,transmission_Manual,fuel_Gas,fuel_Petrol
0,4,70000,320.00,143.00,20.38,1,1,0,0,0,0,0
1,4,8000,250.00,177.50,16.60,1,0,0,0,0,0,1
2,3,20000,320.00,143.00,20.38,1,1,0,0,0,0,0
3,11,55000,215.75,163.20,12.30,1,1,1,0,0,0,1
4,8,110000,380.00,174.33,17.11,1,1,0,0,0,0,0

In [23]:
y.head()

0    2600000
1    1689999
2    3000000
3     730000
4    1200000
Name: selling_price, dtype: int64

In [24]:
print(X.columns)

Index(['age', 'km_driven', 'torque_Nm', 'max_power_bhp', 'mileage_kmpl',
       'brand_type_2', 'seller_Individual', 'owner_Second',
       'owner_Third_or_Above', 'transmission_Manual', 'fuel_Gas',
       'fuel_Petrol'],
      dtype='object')

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,y)

In [ ]:
print(model.feature_importances_)

In [ ]:
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(18).plot(kind='barh')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=66, stratify=mlcd['brand_type_2'])

In [ ]:
X_train.columns

In [ ]:
# y_train.head()

In [ ]:
# y_test.head()

In [ ]:
# X_train[['age','brand_type_2','max_power_bhp','fuel_Petrol','transmission_Manual']].value_counts()

In [ ]:
# X_test[['age','brand_type_2','max_power_bhp','fuel_Petrol','transmission_Manual']].value_counts()

In [ ]:
X_train['brand_type_2'].value_counts()

In [ ]:
X_train.groupby('brand_type_2').age.nunique()

In [ ]:
X_test.groupby('brand_type_2').age.nunique()

In [ ]:
X_test['brand_type_2'].value_counts()

In [ ]:
# from sklearn.preprocessing import StandardScaler

In [ ]:
# scaler = StandardScaler()

In [ ]:
# scaler.fit(X_train)
# X_train = scaler.transform(X_train)
# X_test = scaler.transform(X_test)

## Stratified shuffleSplit

In [ ]:
# from sklearn.model_selection import StratifiedShuffleSplit
# split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

# for train_index, test_index in split.split(mlcd, mlcd[['brand_type_2','fuel_Gas','fuel_Petrol','transmission_Manual']]):
#     strat_train_set = mlcd.loc[train_index]
#     strat_test_set = mlcd.loc[test_index]

In [ ]:
# strat_train_set[['brand_type_2','fuel_Gas','fuel_Petrol','transmission_Manual']].value_counts()

In [ ]:
# strat_test_set[['brand_type_2','fuel_Gas','fuel_Petrol','transmission_Manual']].value_counts()

In [ ]:
# strat_test_set['fuel_Petrol'].value_counts()       ##for 1 column

In [ ]:
corr_matrix = mlcd.corr()
corr_matrix['selling_price'].sort_values(ascending=False)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

## first fine tuning

In [ ]:
#Randomized Search CV                           
# {'n_estimators': 1000,                     
#  'min_samples_split': 2,                    
#  'min_samples_leaf': 1,                    
#  'max_features': 'sqrt',                     
#  'max_depth': 25}
# Model Performance                      
# Average Error: 61688.8913 Rupees.                   
# Accuracy = 85.31%  

# after stratifying
# Model Performance
# Average Error: 67447.0836 Rupees.
# Accuracy = 83.83%.

# #after standard scaling
# Model Performance
# Average Error: 66046.1776 Rupees.
# Accuracy = 84.62%.          
# Model Performance    for brand_type_2
# Average Error: 66112.9543 Rupees.
# Accuracy = 85.15%

# Average Error: 65731.7270 Rupees.
# Accuracy = 84.79%.            with all dummies


# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 800, stop = 1350, num = 12)]
# Number of features to consider at every split
max_features = ['sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(20, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2,3,4,5]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1,2,3,4]

### second fine tuning

In [ ]:
# #Randomized Search CV finetuning the params

# # Number of trees in random forest
# n_estimators = [int(x) for x in np.linspace(start = 500, stop = 1600, num = 12)]
# # Number of features to consider at every split
# max_features = ['auto', 'sqrt']
# # Maximum number of levels in tree
# max_depth = [int(x) for x in np.linspace(20, 30, num = 10)]
# # max_depth.append(None)
# # Minimum number of samples required to split a node
# min_samples_split = [2, 3, 4, 5, 15, 100]
# # Minimum number of samples required at each leaf node
# min_samples_leaf = [1, 2, 3, 4]

In [ ]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()

In [ ]:
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 20, cv = 7, verbose=2, random_state=66, n_jobs = 1)

### random grid

In [ ]:
# from sklearn.model_selection import GridSearchCV
# # Create the parameter grid based on the results of random search 
# param_grid = {
#     'bootstrap': [True],
#     'max_depth': [80, 90, 100, 110],
#     'max_features': [2, 3],
#     'min_samples_leaf': [3, 4, 5],
#     'min_samples_split': [8, 10, 12],
#     'n_estimators': [100, 200, 300, 1000]
# }
# # Create a based model
# rf = RandomForestRegressor()
# # Instantiate the grid search model
# grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
#                           cv = 3, n_jobs = -1, verbose = 2)


# {'bootstrap': True,
#  'max_depth': 80,
#  'max_features': 3,
#  'min_samples_leaf': 3,
#  'min_samples_split': 8,
#  'n_estimators': 200}
# Model Performance
# Average Error: 70834.3204 Rupees.
# Accuracy = 83.16%.

In [ ]:
rf_random.fit(X_train,y_train)

In [ ]:
rf_random.best_params_

In [ ]:
rf_random.best_score_

In [ ]:
predictions=rf_random.predict(X_test)

In [ ]:
def evaluate(model, X_test, y_test):
    predictions = model.predict(X_test)
    errors = abs(predictions - y_test)
    mape = 100 * np.mean(errors / y_test)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} Rupees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test, y_test)

In [ ]:
list(predictions)

In [ ]:
y_test

In [ ]:
X_test

In [ ]:
list(y_test-predictions)

In [ ]:
import seaborn as sns
sns.distplot(y_test-predictions)

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(y_test,predictions)

In [ ]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf_random, file)